.login {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(0, 155, 248, 1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .formContainer {
        background-color: #fff;
        width: 30%;
        min-width: 320px;
        height: 70%;
        box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.75);
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .fade {
        opacity: 0;
        -webkit-animation: fadeIn ease-in 1;
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
        animation-delay: 0.2s;
    }

    input {
        outline: none;
        border: none;
    }

    textarea {
        outline: none;
        border: none;
    }

    textarea:focus,
    input:focus {
        border-color: transparent !important;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    input:focus:-moz-placeholder {
        color: transparent;
    }
    input:focus::-moz-placeholder {
        color: transparent;
    }
    input:focus:-ms-input-placeholder {
        color: transparent;
    }

    textarea:focus::-webkit-input-placeholder {
        color: transparent;
    }
    textarea:focus:-moz-placeholder {
        color: transparent;
    }
    textarea:focus::-moz-placeholder {
        color: transparent;
    }
    textarea:focus:-ms-input-placeholder {
        color: transparent;
    }

    input::-webkit-input-placeholder {
        color: #999999;
    }
    input:-moz-placeholder {
        color: #999999;
    }
    input::-moz-placeholder {
        color: #999999;
    }
    input:-ms-input-placeholder {
        color: #999999;
    }

    textarea::-webkit-input-placeholder {
        color: #999999;
    }
    textarea:-moz-placeholder {
        color: #999999;
    }
    textarea::-moz-placeholder {
        color: #999999;
    }
    textarea:-ms-input-placeholder {
        color: #999999;
    }

    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        .formContainer {
            width: 30%;
            height: 70%;
        }
    }

    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
    }

    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
    }
}
