@import "../../styles/font";

.loginTxt {
    text-align: center;
    margin-top: 40px;
    @include title();
}
.loginForm {
    padding: 0px;
    @include inputReset();
    .inputWrapper {
        background-color: #ccc;
        width: 200px;
        padding: 10px 20px;
        border-radius: 250px;
        .input {
            height: 20px;
            padding: 0;
            width: 80%;
            margin-left: 10px;
            vertical-align: top;
            background-color: #ccc;
        }
    }
    .center {
        margin: 0 auto;
    }
    .loginError {
        width: 200px;
        margin: 0 auto;
        color: $error-color;
        font-size: 12px;
    }
    .loginError:after {
        color: #fff;
        content: "-";
    }
    .loginValid {
        width: 200px;
        margin: 0 auto;
        color: #fff;
        font-size: 12px;
    }
    .space {
        margin-top: 10px;
    }
    .loginBtnWrapper {
        text-align: center;
    }
    .recover {
        text-align: center;
        font-size: 12px;
        a {
            text-decoration: none;
            color: $primary-color;
        }
        a:hover {
            color: $hover-color;
        }
    }
}
