@import "../../styles/font";

.submitBtn {
    @include primaryBtn(240px);
    margin: 10px auto;
    .spin {
        padding-left: 40px;
        position: absolute;
    }
}
.submitBtn:hover {
    @include primaryBtnHover();
}
.submitBtn:focus {
    @include primaryBtnFocus();
}
.submitBtn:active {
    @include primaryBtnActive();
}
