@import "../../styles/font";
.submitBtn {
    width: 100px;
    width: 240px;
    padding: 10px 20px;
    border-radius: 250px;
    margin: 0 auto;
    border-width: 0px;
    border-style: none;
    background-color: $primary-color;
    margin-bottom: 10px;
    cursor: pointer;
}
.submitBtn:hover {
    background-color: $hover-color;
}
.submitBtn:focus {
    outline: none;
}
.submitBtn:active {
    background-color: $active-color;
}
